$background-color: #f7f7f7;
$primary-color: #1890ff;
$text-color-secondary: rgba(0, 0, 0, 0.45);
$max-width: 68rem;
$border-light: 1px solid #c2baba;
$color-bg-header: #222f3f;
$color-bg-btn-yl: #ffbe61;
$color-yellow: gold;
$color-gray: rgb(236, 233, 233);
$color-red: rgb(134, 67, 12);
$color-back-light: rgb(88, 85, 83);
